@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital@1&display=swap");

body {
  font-family: "Titillium Web", sans-serif;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}
#nav-main {
  opacity: 0.7;
  border-radius: 50px;
}
.selector {
  background-color: transparent;
  border-color: white;

  color: black;
}
#radio {
  width: 2em;
  height: 2em;
}
.modal-header,
h4,
.close {
  background-color: #5cb85c;
  color: white !important;
  text-align: center;
  font-size: 30px;
}
.modal-footer {
  background-color: #f9f9f9;
}
.order {
  cursor: pointer;
  color: #0088cc;
}
.card {
  width: 35rem;
}
@media screen and (max-width: 793px) {
  .card {
    width: 21rem;
  }
  #new-order {
    font-size: small;
  }
}
